<h1 id="welcome">Welcome to Night City!</h1>
<h1>Take a look around</h1>

<div id="abt_img_wrap">
    <img class="aboutpics" src="/images/ducking.jpg" alt="cover">

    <img class="aboutpics" src="/images/girl.jpeg" alt="girl">

    <img class="aboutpics" src="/images/gun.jpg" alt="gun">

    <img class="aboutpics" src="/images/red.jpg" alt="red">
</div>
