<!--contact page-->

<form method="POST" action="/sign-in">  
    <label for="username">Get in contact with us!</label>
    <input id="contact" type="text" name="message">
     
    <input id="submit" type="submit">
</form>