<video autoplay muted loop id="myVideo">
  <source src="/images/cyber.mp4" type="video/mp4">
</video>

<h1 id="logo">Night City Records</h1>




<!-- <h1 id="feature">Meet Night City's New Featured Artist!</h1>

<img id="girl" src="images/girl.jpeg" alt="girl"> -->


