@import 'header';
@import 'contact';
@import 'home';
@import 'about';
@import 'music';

$bkgnd_default: rgba(0, 0, 0, 0.5);
$font_default: 'Audiowide', cursive;

body {
    background-image: url("/images/bkgrnd.jpg");
    color: yellow;
    font-family: $font_default;
    // font-family: 'Bangers', cursive;
    // font-family: 'Orbitron', sans-serif;
    // font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 40px;
    text-align: center;
    background: $bkgnd_default;
    padding: 10px;
}

#welcome {
    margin-top: 70px;
}
